
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#QuestionGroupAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "questionGroupId=" + getParam("questionGroupId");
  		parentUrl	= "/QuestionGroup/saveQuestions?" + parentId;
  		addUrl 		= "/html/QuestionProfileForm.html?action=create";
  		deleteUrl 	= "/QuestionGroup/deleteQuestions?" + parentId;
  		modelUrl 	= "/QuestionGroup/loadQuestions?" + parentId;

		args = 'roleName=Questions&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/QuestionViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'QuestionGroup_QuestionsDivId').html( data );
		});		
		
		//$('#' + 'QuestionGroup_QuestionsDivId').load(url);
		
	 			parentId	= "questionGroupId=" + getParam("questionGroupId");
  		parentUrl	= "/QuestionGroup/saveQuestionGroups?" + parentId;
  		addUrl 		= "/html/QuestionGroupProfileForm.html?action=create";
  		deleteUrl 	= "/QuestionGroup/deleteQuestionGroups?" + parentId;
  		modelUrl 	= "/QuestionGroup/loadQuestionGroups?" + parentId;

		args = 'roleName=QuestionGroups&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/QuestionGroupViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'QuestionGroup_QuestionGroupsDivId').html( data );
		});		
		
		//$('#' + 'QuestionGroup_QuestionGroupsDivId').load(url);
		
	  
	 	var id = getParam("questionGroupId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("questionGroupId");
			
			jQuery.ajax(
			{
		  		url: '/QuestionGroup/load?questionGroupId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingQuestionGroup()
	{
		document.getElementById("QuestionGroupFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetQuestionGroup()
	{
		document.getElementById("QuestionGroupProfileFormId").reset();
	}
	
	function saveQuestionGroup()
	{
		$('#QuestionGroupFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#QuestionGroupProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/QuestionGroup/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#QuestionGroupProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' && parentUrl != '${parentUrl}' )
			{
				parentUrl = parentUrl + '&childId=' + data['questionGroupId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created QuestionGroup
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('questionGroupId').value = data['questionGroupId'];

			if ( action == 'create' )
				$( '#QuestionGroupAssociationDivId' ).show();
*/				
			doneSavingQuestionGroup();
		});
		
		$('#QuestionGroupFormLoadingDivId').hide();			
	
	}
		function addQuestions()
	{
		addHelperForQuestionGroup( 'Question', 'Questions' );
	}

	function deleteQuestions()
	{
		var ids;
		deleteHelperForQuestionGroup( 'Questions', 'weight', ids );
	}
	
	function addQuestionsFromList()
	{
	}
	
    		function addQuestionGroups()
	{
		addHelperForQuestionGroup( 'QuestionGroup', 'QuestionGroups' );
	}

	function deleteQuestionGroups()
	{
		var ids;
		deleteHelperForQuestionGroup( 'QuestionGroups', 'name', ids );
	}
	
	function addQuestionGroupsFromList()
	{
	}
	
        function addHelperForQuestionGroup( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for QuestionGroup " + roleName;
		var parentId = document.getElementById("questionGroupId").value;
		parentUrl = '/QuestionGroup/save' + roleName + '?questionGroupId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=questionGroup&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForQuestionGroup';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForQuestionGroup( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/QuestionGroup/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#QuestionGroupProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("QuestionGroupFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="QuestionGroupProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="QuestionGroupProfileFormId" class="formTableClass">
    <input type=hidden id="questionGroupId" name="questionGroupId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">aggregateScore</td>
	  <td class="formTDClass">	<input type='text' id="aggregateScore" name="aggregateScore" placeHolder="aggregateScore" required="required" validate="required" class="maskedDecimalField form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">weight</td>
	  <td class="formTDClass">	<input type='text' id="weight" name="weight" placeHolder="weight" required="required" validate="required" class="maskedDecimalField form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">name</td>
	  <td class="formTDClass">	<input type='text' id="name" name="name" placeHolder="name" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save QuestionGroup" onclick="saveQuestionGroup()">
		    <button type="button" class="btn btn-outline-primary">
		      	Save
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetQuestionGroup()">
			<button type="button" class="btn btn-outline-primary">	
		      	Reset
			</button>
		</a>
	</div>
	 <div id="QuestionGroupFormLoadingDivId" style="display:none">
  		saving QuestionGroup...<image src="../img/load_new.gif" width=48 height=48/>
	</div>				  				  
	<div id="QuestionGroupFormStatusDivId">
	</div>				  				  
	 
  </form>
</div>

<div id="QuestionGroupAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Questions
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="QuestionGroup_QuestionsDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        QuestionGroups
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="QuestionGroup_QuestionGroupsDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>


